{% extends 'plantilla.html' %}
{% block contenido %}

<h3 class="mb-4">Registrar Arbitro</h3>

<form id="form-arbitro" method="post" action="{% url 'guardar_arbitro' %}">
    {% csrf_token %}

    <div class="mb-3">
        <label for="nombre" class="form-label">NOMBRE:</label>
        <input type="text" class="form-control" name="nombre" id="nombre">
    </div>

    <div class="mb-3">
        <label for="apellido" class="form-label">APELLIDO:</label>
        <input type="text" class="form-control" name="apellido" id="apellido">
    </div>

    <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" class="form-control" name="edad" id="edad">
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'listar_arbitros' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#form-arbitro').validate({
            rules: {
                nombre: { required: true, minlength: 2 },
                apellido: { required: true, minlength: 2 },
                edad: { required: true, number: true, min: 18 }
            },
            messages: {
                nombre: {
                    required: "Ingresa el nombre",
                    minlength: "Minimo 2 caracteres"
                },
                apellido: {
                    required: "Ingresa el apellido",
                    minlength: "Minimo 2 caracteres"
                },
                edad: {
                    required: "Ingresa la edad",
                    number: "Solo numeros",
                    minlength: "Minimo 2 caracteres"
                }
            },
            errorClass: 'text-danger'
        });
    });
</script>
{% endblock scripts %}